.cabecalho{
    border:10px;
    border-color: blue;
    border-style: dashed;
    margin: 10px;
    color: aqua;
    font-weight: 400;
}
.principal{  
    background-color: black;
    border: 10px;
    border color: aliceblue;

}

.lista-links{
    font-size: 20px;
    color: rgb(0, 255, 98);
    text-decoration: none;
 
 }
 .lista-links:hover{
    font-size: 25px;
    color: blue;
    text-decoration: underline;
 
 }  