.cabecalho{
    border:10px;
    border-color: blue;
    border-style: dashed;
    margin: 10px;
    color: aqua;
    font-weight: 400;
}
.principal{  
    background-color: black;
    border: 10px;
    border color: aliceblue;





}